
<div id="main_visual">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Castle Log!</h1>
        <p class="lead">My website is for castle lover all over the world!</p>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
    <!--<img src="/assets/main_visual.JPG" class="img-fluid mb-3" alt="Castle Log">-->
</div>
<div>
    <%= render 'logs/logs', logs: @logs %>
</div>